{% extends 'core/base.html' %}
{% load static %}
{% block nav %}
<nav class="site-nav">
    <div class="container">
        <div class="site-navigation">
            <a href="{% url 'core:index' %}" class="logo m-0">Eryck <span class="text-primary">.</span></a>
  
            <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                <li class="active"><a href="{% url 'core:index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li class="has-children">
                    <a href="#">Services</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'services:annonces' %}">Vendre mes kg</a></li>
                        <li><a href="">Acheter des kg</a></li>
                        
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Comptes</a>
                    <ul class="dropdown">
                        {% if user.is_staff or user.is_admin %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Tableau admin</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="">Profil</a></li>
                        <li><a href="{% url 'users:logout' %}">Deconnexion</a></li>
                    </ul>
                </li>
                <li><a href="#" class="text-decoration-none fs-4"><span class="text-capitalize mx-1">{{user.username}} </span>est connecté</a></li>
                {% else %}
                <!-- <li class="has-children">
                    <a href="#">Dropdown</a>
                    <ul class="dropdown">
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="#">Menu One</a></li>
                        <li class="has-children">
                            <a href="#">Menu Two</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub Menu One</a></li>
                                <li><a href="#">Sub Menu Two</a></li>
                                <li><a href="#">Sub Menu Three</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Menu Three</a></li>
                    </ul>
                </li>
                <li><a href="services.html">Services</a></li> -->
                <li><a href="about.html">About</a></li>
                <li><a href="">Contact Us</a></li>
                <li class="has-children">
                    <a href="#">Comptes</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'users:login' %}">Connexion</a></li>
                        <li><a href="{% url 'users:register' %}">Inscription</a></li>
                        
                    </ul>
                </li>
            </ul>
                {% endif %}
              
  
            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
  
        </div>
    </div>
  </nav>
  
  
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Elements</h1>
            <p class="text-white">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock nav %}
{% block content %}
 
<div class="container">
    <div class="row mt-1">
        <div class="col-lg-4 col-12 col-md-6">
            <img src="{% static 'images/rG5.png' %}" alt="" style="width: 80%; height:80%">
        </div>
        <div class="col-lg-8 col-12 col-md-6">
            
            <!-- Контент на странице -->
            <div class="row">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                            <h2 class="text-center mb-4">{{title}}</h2>
                            <form method="POST" action="{% url 'users:login' %}">
                                {% csrf_token %}
                                {% if request.GET.next %}
                                    <input type="hidden" name="next" value="{{request.GET.next}}">
                                {% endif %}
                                <div class="mb-3">
                                    <label for="{{form.username.id_for_label}}" class="form-label">{{form.username.label}}</label>
                                    {{form.username}}  
                                </div>
                                <div class="mb-3">
                                    <label for="{{form.password.id_for_label}}" class="form-label">{{form.password.label}}</label>
                                    {{form.password}}
                    
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">{{Login}}</button>
                            </form>
                            <div class="mt-3">
                                <a href="#">{{forgotpassword}}</a> | <a href="{% url 'users:register' %}">{{newaccount}}</a>
                            </div>

                    <!-- <div>OBFUSCATION</div> -->
                            <hr>
                            <div class="text-center">
                                <p>Ou connectez-vous via :</p>
                                <a href="#" class="btn btn-dark">
                                    <img class="mx-1" src="{% static 'icons/google.svg' %}" alt="Catalog Icon" width="16" height="16">
                                    Google
                                </a>
                                <a href="#" class="btn btn-dark">
                                    <img class="mx-1" src="{% static 'icons/facebook.svg' %}" alt="Catalog Icon" width="16" height="16">
                                    Facebook
                                </a>
                                <!-- <a href="#" class="btn btn-dark">
                                    <img class="mx-1" src="{% static 'icons/github.svg' %}" alt="Catalog Icon" width="16" height="16">
                                    GitHub
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}